/* 
  COLORS


*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 53.125em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  font-family: "Barlow", sans-serif;
  background-color: #e2c9f2;
  color: #413c58; }

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }

.form-container {
  height: 40rem;
  width: 70rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: delayFormContainerBoxShadow .75s 2.2s forwards;
  position: relative; }
  @media only screen and (max-width: 31em) {
    .form-container {
      flex-direction: column;
      width: 58em;
      height: 75vh; } }

.sign-up-container {
  height: 60rem;
  width: 75rem; }
  @media only screen and (max-width: 31em) {
    .sign-up-container {
      width: 58em;
      height: 75vh; } }

.form-img {
  height: 100%;
  flex: 1;
  overflow: hidden;
  animation: R-formAnimation 1.2s 0.5s backwards cubic-bezier(0.46, -0.35, 1, -0.25); }
  @media only screen and (max-width: 31em) {
    .form-img {
      width: 100%;
      flex: auto;
      animation: M-R-formAnimation 0.75s backwards cubic-bezier(0.46, -0.35, 1, -0.25); } }
  .form-img__img {
    transform: scale(1.6);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.35s cubic-bezier(0.32, 0, 0.72, 0.99); }
    .form-img__img:hover {
      transform: scale(1); }
    @media only screen and (max-width: 31em) {
      .form-img__img {
        object-position: 0 20%;
        transform: scale(1.3); } }

.extra-form-container {
  flex-basis: 55%;
  height: 100%;
  position: relative; }

.form {
  height: 100%;
  padding: 4rem;
  background-color: #fff;
  animation: L-formAnimation 1.2s 0.5s backwards cubic-bezier(0.46, -0.35, 1, -0.25);
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 31em) {
    .form {
      width: 58em;
      animation: M-L-formAnimation 0.75s backwards cubic-bezier(0.46, -0.35, 1, -0.25); } }
  .form__item {
    display: flex;
    flex-wrap: wrap; }
    .form__item:not(:last-child) {
      margin-bottom: 1.2rem; }
  .form__user-details {
    margin-top: 4rem; }
  .form__big-text {
    text-transform: uppercase;
    font-size: 3rem; }
  .form__small-text {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic; }
  .form__label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 2.4rem;
    margin-top: .5rem;
    transition: all .15s; }
  .form::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background-color: transparent;
    background-color: #EF6351;
    transform: translateY(-100%);
    transition: transform 0.2s, width 0.5s cubic-bezier(0.81, -0.25, 0, 0.65) 0.22s; }
  .form:hover::after {
    width: 15px;
    transform: translateY(0); }
  .form__icon-box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .form__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor; }
  .form__sex {
    width: 85%;
    padding: 1.2rem;
    padding-left: 0;
    display: flex; }
  .form__radio-group {
    display: flex;
    align-items: center;
    justify-content: center; }
    .form__radio-group:not(:last-child) {
      margin-right: 1.2rem; }
  .form__radio-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 0;
    cursor: pointer; }
  .form__radio-input {
    display: none; }
  .form__radio-button {
    height: 2.1rem;
    width: 2.1rem;
    display: inline-block;
    border: 4px solid #413c58;
    border-radius: 50%;
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0; }
  .form__radio-button::after {
    content: "";
    width: .8rem;
    height: .8rem;
    background-color: #413c58;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .2s; }
    @media only screen and (max-width: 62.5em) {
      .form__radio-button::after {
        width: .7rem;
        height: .7rem; } }
  .form__submit {
    font-size: 1.2rem; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.username, .password, .email {
  padding: .6rem 1rem;
  padding-left: 3rem;
  margin-left: -2.4rem;
  margin-right: 15%;
  width: 85%;
  display: inline-block;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  border-bottom: 0.16rem solid #EF6351;
  background-color: transparent;
  transition: all .2s; }
  .username:focus, .password:focus, .email:focus {
    border-bottom: 0.16rem solid #413c58;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
    outline: none; }
  .username:placeholder-shown + .form__label, .password:placeholder-shown + .form__label, .email:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2.4rem); }

.password__instruction {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 85%; }

.submit {
  background-color: #EF6351;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit; }
  .submit span {
    margin-right: .5rem;
    display: inline-block; }

.other-options {
  margin-top: 1.8rem;
  width: 80%;
  display: flex;
  align-items: center; }

.forgot-password:not(:last-child), .to-sign-up:not(:last-child) {
  margin-right: 1.2rem; }

.forgot-password__link:link, .forgot-password__link:visited,
.to-sign-up__link:link,
.to-sign-up__link:visited {
  text-decoration: none;
  font-size: 1.3rem;
  color: inherit;
  font-weight: 500;
  transition: all .2s; }

.forgot-password__link:hover,
.to-sign-up__link:hover {
  color: #EF6351; }

.forgot-password__link:active,
.to-sign-up__link:active {
  color: #e2c9f2; }

.girl-hand-up {
  position: absolute;
  top: 35%;
  right: 10%;
  transform: scale(0.7) rotateZ(12deg);
  transition: right 0.25s, top 0.2s 0.25s, transform 0.85s 0.35s cubic-bezier(1, -0.57, 0.13, 1.16);
  z-index: -1;
  animation: delayGirlHandUpContainer 0.2s 1.5s backwards cubic-bezier(0.46, -0.35, 1, -0.25); }
  @media only screen and (max-width: 62.5em) {
    .girl-hand-up {
      display: none; } }
  .girl-hand-up__img {
    width: 20rem; }

.extra-form-container:hover > .girl-hand-up {
  top: 0%;
  right: -32%;
  transform: scale(1) rotateZ(12deg); }

.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1.2rem;
  position: relative;
  z-index: 100;
  transition: all .4s;
  cursor: pointer; }
  .btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 4rem;
    background-color: inherit;
    transition: all .4s; }
  .btn:hover {
    transform: translateY(-0.8rem);
    box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2); }

.links, .links:link, .links:visited {
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block; }

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 40rem; }
  @media only screen and (max-width: 31em) {
    .forgot-password-container {
      flex-direction: column;
      width: 58em;
      height: 75vh; } }
  .forgot-password-container__image-box {
    flex-basis: 50%; }
  .forgot-password-container__image {
    width: 100%; }

.forgot-password-form {
  flex-basis: 50%;
  align-self: stretch;
  background-color: #fff;
  padding: 5rem; }
  .forgot-password-form__details {
    margin-top: 8rem; }
  .forgot-password-form__items {
    display: flex; }
    .forgot-password-form__items:not(:last-child) {
      margin-bottom: 2.5rem; }
  .forgot-password-form__item {
    padding: .6rem 1rem;
    padding-left: 3rem;
    width: 100%;
    display: inline-block;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    border-bottom: 0.16rem solid #EF6351;
    background-color: transparent;
    margin-left: -1.8rem; }
    .forgot-password-form__item:focus {
      border-bottom: 0.16rem solid #413c58;
      box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
      outline: none; }
  .forgot-password-form__icon-box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .forgot-password-form__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor; }
  .forgot-password-form__submit {
    width: 100% !important; }

@keyframes L-formAnimation {
  0% {
    transform: translateX(-50%); }
  100% {
    transform: translateX(0); } }

@keyframes R-formAnimation {
  0% {
    transform: translateX(50%); }
  100% {
    transform: translateX(0); } }

@keyframes M-L-formAnimation {
  0% {
    transform: translateY(30%); }
  100% {
    transform: translateY(0); } }

@keyframes M-R-formAnimation {
  0% {
    transform: translateY(-50%); }
  100% {
    transform: translateY(0); } }

@keyframes delayFormContainerBoxShadow {
  0% {
    box-shadow: none; }
  100% {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4); } }

@keyframes delayGirlHandUpContainer {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
