.form-container {
  height: 40rem;
  width: 70rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: delayFormContainerBoxShadow .75s 2.2s forwards;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    width: 58em;
    height: 75svh;

  }
}

.sign-up-container {
  height: 60rem;
  width: 75rem;

  @media only screen and (max-width: $bp-small) {
    width: 58em;
    height: 75vh;
  }
}

.form-img {
  height: 100%;
  flex: 1;
  overflow: hidden;
  animation: R-formAnimation 1.2s .5s backwards cubic-bezier(.46,-0.35,1,-0.25);

  @media only screen and (max-width: $bp-small) {
    width: 100%;
    flex: auto;
    animation: M-R-formAnimation .75s backwards cubic-bezier(.46,-0.35,1,-0.25);
  }
  
  &__img {
    transform: scale(1.6);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .35s cubic-bezier(0.32, 0, 0.72, 0.99);
    
    &:hover {
      transform: scale(1);
    }

    @media only screen and (max-width: $bp-small) {
      object-position: 0 20%;
      transform: scale(1.3);
    }
  }
}

.extra-form-container {
  flex-basis: 55%;
  height: 100%;
  position: relative;
  
}

.form {
  height: 100%;
  padding: 4rem;
  background-color: #fff;
  animation: L-formAnimation 1.2s .5s backwards cubic-bezier(.46,-0.35,1,-0.25);
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-small) {
    width: 58em;
    animation: M-L-formAnimation .75s backwards cubic-bezier(.46,-0.35,1,-0.25);
  }
  

  &__item {
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: $m-sm;
    }
  }

  &__user-details {
    margin-top: 4rem;
  }

  &__big-text {
    text-transform: uppercase;
    font-size: 3rem;
  }

  &__small-text {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
  }

  &__label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 2.4rem;
    margin-top: .5rem;
    transition: all .15s;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background-color: transparent;
    //border-left: .35rem solid $color-tertiary;
    background-color: $color-tertiary;
    transform: translateY(-100%);
    transition: transform .2s, width .5s cubic-bezier(0.81, -0.25, 0, 0.65) .22s;
  }
  
  &:hover::after {
    width: 15px;
    transform: translateY(0);
  }

  //// THE ICONS
  /// 
  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor;
  }

  &__sex {
    width: 85%;
    padding: $m-sm;
    padding-left: 0;
    display: flex;

  }

  &__radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:not(:last-child) {
      margin-right: $m-sm;
    }
  }
  
  &__radio-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-left: -1.2rem;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 0;
    cursor: pointer;
  }

  &__radio-input {
    display: none;
  }

  &__radio-button {
    height: 2.1rem;
    width: 2.1rem;
    display: inline-block;
    border: 4px solid $color-secondary;
    border-radius: 50%;
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    //background-color: $color-secondary;
  }

  &__radio-button::after {
    content: "";
    width: .8rem;
    height: .8rem;
    background-color: $color-secondary;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .2s;

    @media only screen and (max-width: $bp-largest) {
      width: .7rem;
      height: .7rem;
    }
  }

  &__submit {
    font-size: 1.2rem;
  }

}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.username, .password, .email {
  padding: .6rem 1rem;
  padding-left: 3rem;  // This gives space so that the icons can sit
  margin-left: -2.4rem; // This negates the normal flow of display of elements, thereby allowing elements cross boundaries which then allows overlapping
  margin-right: 15%; // To allow input field appear alone on a single line. Since width is 85%, 15% margin-right can create that white space
  width: 85%;
  display: inline-block;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  border-bottom: .16rem solid $color-tertiary;
  background-color: transparent;
  transition: all .2s;
  
  &:focus {
    border-bottom: .16rem solid $color-secondary;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .1);
    outline: none;
  }
  
  
  &:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2.4rem);
  }
}

.password {
  &__instruction {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 85%;
  }
}

.submit {
  background-color: $color-tertiary;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;

  span {
    margin-right: .5rem;
    display: inline-block;
  }
}

.other-options {
  margin-top: $m-md;
  width: 80%;
  display: flex;
  align-items: center;
}

.forgot-password, .to-sign-up {
  &:not(:last-child) {
    margin-right: $m-sm;
  }
}

.forgot-password__link, 
.to-sign-up__link {

  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.3rem;
    color: inherit;
    font-weight: 500;
    transition: all .2s;
  }

  &:hover {
    color: $color-tertiary;
  }
  
  &:active {
    color: $color-primary;
  }

}

.girl-hand-up {
  position: absolute;
  top: 35%;
  right: 10%;
  transform: scale(.7) rotateZ(12deg);
  transition: right .25s, top .20s .25s, transform .85s .35s cubic-bezier(1, -0.57, 0.13, 1.16);
  z-index: -1;
  animation: delayGirlHandUpContainer .2s 1.5s backwards cubic-bezier(.46,-0.35,1,-0.25);

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }
  
  &__img {
    width: 20rem;
  }
}

.extra-form-container:hover > .girl-hand-up {
  top: 0%;
  right: -32%;
  transform: scale(1) rotateZ(12deg);
}


//////////////////
/// SIGN UP PAGE
// BUTTON
.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: $m-sm;
  position: relative;
  z-index: 100;
  transition: all .4s;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 4rem;
    background-color: inherit;
    transition: all .4s;
  }

  &:hover {
    transform: translateY(-.8rem);
    box-shadow: 0 .8rem 1.8rem rgba(0, 0, 0, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-.2rem);
    box-shadow: 0 .5rem .8rem rgba(0,0, 0, .2);
  }
}

//////////////////
/// 
// LINKS
.links {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.7rem;
    display: inline-block;
  }
}


////// 
/// FORGOTTEN PASSOWRD
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 40rem;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    width: 58em;
    height: 75vh;
  }

  &__image-box {
    flex-basis: 50%;
  }

  &__image {
    width: 100%;
  }
}

.forgot-password-form {
  flex-basis: 50%;
  align-self: stretch;
  background-color: #fff;
  padding: 5rem;

  &__details {
    margin-top: 8rem;
  }
  
  &__items {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__item {
    padding: .6rem 1rem;
    padding-left: 3rem;  // This gives space so that the icons can sit
    width: 100%;
    display: inline-block;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    border-bottom: .16rem solid $color-tertiary;
    background-color: transparent;
    margin-left: -1.8rem;
    
    &:focus {
      border-bottom: .16rem solid $color-secondary;
      box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .1);
      outline: none;
    }
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor;
  }

  &__submit {
    width: 100% !important;
  }
}

