/* 
  COLORS


*/

$color-primary: #e2c9f2;

$color-secondary: #413c58;

$color-tertiary: #EF6351;
$color-tertiary-dark: #dc341e;
$color-tertiary-light: #fd8170;



// Margins
$m-sm: 1.2rem;
$m-md: 1.8rem;


//Box Shadow
$shadow-light: 0 .5rem 2rem rgba(0, 0, 0, .4);

// Breakpoints
$bp-largest: 62.5em; // 1000px = 62.5em
$bp-large: 53.125em; // 850px = 53.125em
$bp-medium: 37.5em; // 600px = 37.5em
$bp-small: 31em; // 450px = 28.125em