<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anta&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- For the webpage tab icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
  <link rel="manifest" href="/media/favicon/site.webmanifest">

  <link rel="stylesheet" href="/css/style.css">
  <title>Log In</title>
</head>
<body>
  <div class="container">
    <div class="form-container sign-up-container">
      <div class="form-img">
        <img src="/media/img/image__3.jpg" alt="form-image" class="form-img__img">
      </div>

      <div class="extra-form-container">
        <div class="form">
          <h1 class="form__big-text">
            Glad you are here!
          </h1>
          <h4 class="form__small-text">
            Kindly fill out the form below
          </h4>
          <div class="form__user-details">
  
           
            <!-- Username -->
            <div class="form__username form__item">
              <div class="form__icon-box">
                <svg class="form__icon">
                  <use xlink:href="/media/icons/sprite.svg#icon-user"></use>
                </svg>
              </div>
              <input type="text" class="username" placeholder="Username">
              <label for="username" class="form__label">username</label>
            </div>
            
            <!-- Password -->
            <div class="form__password form__item">
              <div class="form__icon-box">
                <svg class="form__icon">
                  <use xlink:href="/media/icons/sprite.svg#icon-key"></use>
                </svg>
              </div>
              <input type="password" class="password" placeholder="Password">
              <label for="password" class="form__label">password</label>
              <p class="password__instruction"></p>
            </div>

            <!-- Confirm Password -->
            <div class="form__password form__item">
              <div class="form__icon-box">
                <svg class="form__icon">
                  <use xlink:href="/media/icons/sprite.svg#icon-key"></use>
                </svg>
              </div>
              <input type="password" class="password" placeholder="Confirm Password">
              <label for="password" class="form__label">confirm password</label>
            </div>

            <!-- Email -->
            <div class="form__email form__item">
              <div class="form__icon-box">
                <svg class="form__icon">
                  <use xlink:href="/media/icons/sprite.svg#icon-mail"></use>
                </svg>
              </div>
              <input type="email" class="email" placeholder="Email">
              <label for="email" class="form__label">email</label>
              
            </div>

            <!-- Sex -->
            <div class="form__sex form__item">
              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" name="sex" id="male">
                <label for="male" class="form__radio-label">
                  <span class="form__radio-button"></span>
                  Male
                </label>
              </div>


              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" name="sex" id="female">
                <label for="female" class="form__radio-label">
                  <span class="form__radio-button"></span>
                  Female
                </label>
              </div>

            </div>


          </div>
          <div class="form__submit">
            <button type="submit" class="btn submit">
              <span>sign up</span>
              <div class="form__icon-box">
                <svg class="form__icon">
                  <use xlink:href="/media/icons/sprite.svg#icon-login"></use>
                </svg>
              </div>
            </button>
          </div>
          <div class="other-options">
            <div class="to-sign-up">
              <a href="/index.html" class="to-sign-up__link">
                Already a Member? Sign in
              </a>
            </div>
          </div>
        </div>

        
      </div>
      
    </div>
  </div>
</body>